.product-list {
  @include column;

  &__top-bar {
    @include row;
    @include center-along;
    @include center-across;
    flex-shrink: 0;
    height: 60px;
    border-bottom: 1px solid #BDBDBD;
  }

  &__top-bar > * {
    margin: 0 10px;
  }

  &__product-cards {
    @include row;
    @include center-along;
    flex-wrap: wrap;
    flex: auto;
    overflow: auto;
  }
}
