html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin center-along {
  justify-content: center;
}

@mixin center-across {
  align-items: center;
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.unstyled-anchor {
  text-decoration: none;
  color: inherit;
}

.flex-filler {
  flex: auto;
}

button {
  cursor: pointer;
}

@import "app/components/add-product/add-product.scss";
@import "app/components/product/product.scss";
@import "app/components/product-list/product-list.scss";
@import "app/components/product-card/product-card.scss";
